<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block title %}<title>Movie Library</title> {% endblock %}

    {% load static %}
    <link rel="stylesheet" href="{% static 'ccs/styles.css' %}">
</head>
<body>

    <div>
        <div>
            <div>
                {% block sidebar %}
                <ul>
                    <li><a href="href="{% url 'index.html' %}">Home</a></li>
                    <li><a href="">All Movies</a></li>
                    <li><a href="">All Directors</a></li>
                </ul>
                {% endblock %}
            </div>
            <div>
                {% block content %} {% endblock %}
            </div>
        </div>

    </div>
    
</body>
</html>